<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/templates/imagem/abra-o-livro.png" type="image/x-icon">
    <link rel="stylesheet" href="Cadastro.css">

    <title>Casdatro</title>
</head>

<body>
    <section>
        <form action="" id="fundo">
            <header>
                <h1>Cadastro</h1>
            </header>
            <div class="inputbox">
                <input type="text" name="nome" id="nome" required placeholder="Digite o seu nome" class="input">
            </div>

            <div class="inputbox">
                <input type="email" name="email" id="email" required placeholder="Digite o seu email" class="input">
            </div>

            <div class="inputbox">
                <input type="password" name="senha" id="senha" required placeholder="Confirme sua senha" class="input">
            </div>

            <div class="botao">
                <input type="submit"  value="Logar" class="logar">
            </div>


            <div id="login">
                <label for="">Se voce tem <a href="login.html">Login</a></label>

            </div>
        </form>
    </section>
</body>

</html>