<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/login.css">
    <title>Login</title>
</head>
<body>
    <section>
        <form action="" id="fundo">
            <header>
                <h1>Login</h1>
            </header>
            <div class="inputbox">
                <input type="email" name="email" id="email" required placeholder="Digite o seu email" class="input">
            </div>

            <div class="inputbox">
                <input type="password" name="senha" id="senha" required placeholder="Digite o sua senha" class="input">
            </div>

            <div class="botao">
                <input type="submit" value="Logar" class="logar">
            </div>


            <div id="Cadastro">
                <label for="">Se voce tem  <a href="Cadastro.html">Cadastrar</a></label>
               
            </div>
        </form>
    </section>
</body>
</html>