<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Site</title>
</head>

<body>
    <header>
        <img src="livro.png" alt="">
        <h1>Biblioteca</h1>
        <ul>
            <a href="#">Contato</a>
            <a href="#">Quer nos somos?</a>
            <a href="#">Licença de uso</a>
        </ul>
    </header>
    <hr>
    <article>
        <main>
            <div class="estante-de-livros">
                <div class="livros1" id="livros">
                </div>
                <div class="livros2" id="livros">
                </div>
                <div class="livros3" id="livros">
                </div>
                <div class="livros4" id="livros">
                </div>
                <div class="livros5"id="livros">
                </div>
                <div class="livros6" id="livros">
                </div>
                <div class="livros7" id="livros">
                </div>
                <div class="livros8" id="livros">
                </div>
                <div class="livros9" id="livros">
                </div>
                <div class="livros10" id="livros">
                </div>
                <div class="livros11" id="livros">
                </div>
                <div class="livros12" id="livros">
                </div>
                <div class="livros13" id="livros">
                </div>
                <div class="livros14" id="livros">
                </div>  
                <div class="livros15" id="livros">
                </div>  
            </div>
        </main>
    </article>
</body>

</html>